:root {
  --crl-primary-100: hsl(357, 92.44%, 46.67%);
  --crl-neutral-100: hsl(0, 0%, 100%);
  --crl-neutral-200: hsl(0, 0%, 90%);
  --crl-neutral-300: hsl(0, 0%, 65%);
  --crl-neutral-400: hsl(0, 0%, 20%);
  --crl-neutral-900: hsl(0, 0%, 0%);
  --ff-primary: "Noto Sans KR", sans-serif;
  --ff-logo: "Bebas Neue", sans-serif;

  --fs-100: 0.7rem;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-550: 1.7rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --size-100: 0.4rem;
  --size-200: 0.6rem;
  --size-300: 0.8rem;
  --size-400: 1rem;
  --size-500: 2rem;
  --size-600: 3rem;
  --size-700: 5rem;
  --size-800: 7rem;
  --size-900: 9rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general style */
body {
  color: var(--crl-neutral-100);
  background-color: var(--crl-neutral-900);
  font-family: var(--ff-primary);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  word-break: keep-all;
  letter-spacing: 1.5px;
}
section:nth-child(2) {
  padding-block: 8em 5em;
}
section:not(:nth-of-type(1)) {
  border-bottom: 5px solid gray;
}
.logo {
  color: var(--crl-primary-100);
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: -4px;
}
.section__title {
  font-size: 3rem;
  font-weight: bold;
}
@media (max-width: 824px) {
  .logo {
    font-size: 1.8rem;
  }
  body {
    font-size: 1.05rem;
  }
  .section__title {
    font-size: 2rem;
  }
  /* section:nth-child(2) {
      padding-block: 6em 5em;
    } */
}
/* banner */
.banner {
  padding-block: 0.7em;
  width: 90%;
  background: #b42c7c;
  background: radial-gradient(at center top, #b42c7c, #130124);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
@media (max-width: 656px) {
  .banner {
    position: relative;
    padding-inline: 1.5em;
    display: block;
  }
  .banner__image {
    position: absolute;
    top: -1rem;
    width: 60px;
  }
}
.banner__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  text-align: left;
}
.banner__title {
  font-size: 1.05rem;
}
.banner__body {
  font-size: 0.9rem;
}
.banner__link {
  font-size: 1.05rem;
  text-decoration: underline;
  color: rgb(59, 151, 255);
}
@media (max-width: 656px) {
  .banner__text-wrapper {
    padding-block: 1.5em 1em;
  }
}
/* service */
.service {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
}
.service > * {
  flex-basis: 50%;
}
:is(.service:nth-child(2), .service:nth-child(4)) {
  flex-direction: row-reverse;
}
.service__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}
@media (max-width: 959px) {
  .service {
    display: block;
    text-align: center;
  }
  .service__text-wrapper {
    padding-block: 4em;
    text-align: center;
  }
}
/* question */
.question__list {
  text-align: left;
  --flow-spacer: 0.5rem;
}
.question__item {
  display: block;
  padding: 1em 1em;
  background: var(--crl-neutral-400);
  position: relative;
}
.question__item::after {
  content: "\002b";
  position: absolute;
  font-size: 4rem;
  right: 3%;
  top: 50%;
  translate: 0 -50%;
  transition: rotate 0.2s;
}
.question__item[data-active]::after {
  rotate: 45deg;
}
@media (max-width: 960px) {
  .question__item {
    font-size: 1.2rem;
  }
  .question__item::after {
    font-size: 1.5rem;
  }
}
.question__sub-wrapper {
  display: none;
  background: var(--crl-neutral-400);
  padding: 1em 1em;
  border-top: 1px solid black;
  transition: scale 1s;
  font-size: 1rem;
}
.question__item[data-active] + .question__sub-wrapper {
  display: block;
  animation: showing 0.3s;
  transform-origin: top;
}
@keyframes showing {
  from {
    scale: 1 0;
  }
  to {
    scale: 1 1;
  }
}
.question__sub__link {
  text-decoration: underline;
}
/* footer */
.footer {
  font-size: 0.95rem;
  color: var(--crl-neutral-300);
  text-align: left;
}
.footer-nav {
  text-decoration: underline;
  columns: 3;
}
@media (max-width: 700px) {
  .footer-nav {
    columns: 2;
  }
}
@media (max-width: 472px) {
  .footer-nav {
    columns: 1;
  }
}
.external__link {
  font-size: 0.8rem;
  text-decoration: underline;
}
.footer .container div:last-child {
  line-height: 1.2;
}
/* form */
.start-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.start-wrapper p {
  flex-basis: 100%;
  font-size: var(--fs-500);
  margin-bottom: var(--size-200);
}
/* input */
input[data-type="writing"] {
  background: rgba(0, 0, 0, 0.473);
  padding: 0 0.6em;
  border: 1px solid rgba(255, 255, 255, 0.404);
  border-radius: 5px;
  width: min(500px, 60%);
}
@media (max-width: 651px) {
  input[data-type="writing"] {
    padding: 0.5em 0 0.5em 1em;
    width: 90%;
  }
}
input[data-type="writing"]::placeholder {
  font-size: var(--fs-400);
  color: var(--crl-neutral-300);
}
/* button */
.button {
  display: inline-flex;
  align-items: center;
  background-color: var(--crl-primary-100);
  padding: 0.5em 0.8em;
  border: 0;
  border-radius: 5px;
  line-height: 1;
}
.primary-header .button {
  padding: 0.6em 1.2em 0.8em;
}
.primary-header .button-wrapper {
  font-size: var(--fs-300);
  align-self: center;
}
.start-wrapper .button {
  font-size: 1.6rem;
}
@media (max-width: 651px) {
  .start-wrapper .button {
    font-size: 1.3rem;
  }
}
/* utility */
.sr-only {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.container {
  --max-width: 1250px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - 2 * var(--padding));
  margin-inline: auto;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.flow > * + * {
  margin-block-start: var(--flow-spacer, 1rem);
}
.padding-block-300 {
  padding-block: var(--size-300);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.underline {
  text-decoration: underline;
}
